.main-panel-full{
    position: relative;
    float: right;
    width: 100%;
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    max-height: 100%;
    overflow-y: scroll;

}

.main-panel-full>.content{
    margin-top: 70px;
    padding: 30px 15px;
    min-height: calc(100% - 123px);
}



.card .card-header.card-chart.maxHeight {
    margin-top: 10px;
    padding: 0;
    max-height: 90%;
    top: 0;

}

.card.padzero {
    margin: 0 0;
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;

}

.modal .chart {
    height: 100%;
}

.ct-chart.fillcontent{
    height: -webkit-fill-available;
}

#inputMapId {
    width: 90%;
    height: 40%;
}


